 body {
            background-color: white;
            color: black;
            font-size: 20px
        }

        .sidenav {
            height: 100%;
            width: 160px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
        }

            .sidenav a {
                padding: 6px 8px 6px 5px;
                text-decoration: none;
                font-size: px;
                color: gold;
                display: block;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }


        .ep{
        display: grid;
        grid-template-columns:50% 50%}
        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

                .sidenav a {
                    font-size: 18px;
                }
        }

        .main {
            margin: 20px 350px 20px 175px
        }

.foot{
        width: 25%;

        margin: 3% 25% 0% 35%;}

        .footer{
        background-color:black;
        color: gold;
        padding: 2% 0 2% 0;
        text-align: center;
        font-size: medium;
        }
