  body{background-color:white;
  margin-left: 4%}

        header{display:grid;
        grid-template-columns: 2% 80%;
        grid-template-rows: minmax(40%, auto);
        margin: 3% 23.4% 1% 0%;
        color: gold;
        background-color:black;
        padding: 1% 1%;}

         main{
        display:grid;
        grid-template-columns: 55% 45%;
        grid-template-rows: minmax(25%, auto);

        }
        #intro {
        margin:2% 1% 6% 0%;
        background-color:grey;
        color:gold;
        padding: 3% 2% 3% 3%;
         font-size:0.98em
         }
        #di {
        height:75%;
        margin: 2% 10% 2% 2%}

        .txt{
        color:black;
        font-size: 0.80em;
        }

        .nav{
        width: 3em;
        height: auto;
        margin: 2% 0% 0% 2%;
        }

        nav{
        display:grid;
        grid-template-columns:repeat(5, 17%);
        }


        footer{
        font-size:0.80em;
        }
        a{color: green}
